@page
@model WebTechAss.Pages.AboutModel
@{
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
@Model.Name
<section id="about" class="aboutus">
    <div class="main">
        <img src="~/images/about.jpg" />
        <div class="about-text">
            <h1>About us</h1>
            <h5>Autism <span>& Society</span></h5>
            <p>MARF is enhancing lives tod​ay and accelerating a spectrum of solutions for tomorrow.</p>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>Who We Are</h3>
                    <h2>
                        For 10 years and counting, the Autism Society, including our nationwide network of affiliates, connects people to the resources
                        they need through education, advocacy, support, information and referral, and community programming.
                    </h2>
                    <p>
                        Our mission is to support and empower families affected by autism spectrum disorders.
                        We work to identify services and activities specfic to their needs. Our goal is to provide
                        a sense of inclusion and opportunity for those families within the local community and the ASD community.
                    </p>
                    <div class="text-center text-lg-start">
                        <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Read More</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/images/who we are.png" class="img-fluid" alt="">
            </div>

        </div>
    </div>
    @*<div id="acout-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="col-lg-4">
                        <div class="align-items-center">
                            <h3>Mission</h3>
                            <hr>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
<style>
.about-item {
    justify-content:center;
    margin-bottom:20px;
    margin-top:20px;
    background-color:white;
    padding:80px 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0.6);
}
.about-item i{
    font-size: 43px;
    margin:0px;
}
.about-item h3{
    font-size:25px;
    margin-bottom:10px;
}
.about-item hr{
    width:50px;
    height:3px;
    background-color:#5fbff9;
    margin: 0 auto;
    border:none;
}
.about-item p{
    margin-top:20px;
}
.about-item:hover{
    background-color:#5fbff9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color:#ffffff;
}
.about-item:hover hr{
    background-color:#fff;
}
 </style>
@*/*        .container .mission, .vision {
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
            padding: 20px;
            margin: 50px auto;
            max-width: 600px;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 18px;
            line-height: 1.5;
        }

        .mission, .vision {
            margin-bottom: 30px;
        }

            .mission h2, .vision h2 {
                color: #012970;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }

            .mission p, .vision p {
                color: black;
                font-size: 20px;
                font-style: italic;
            }*/*@

     <div class="about1">
         <div class="content-box-lg">
             <div class="container">
                 <div class="row">
                     <div class="col-md-4">
                         <div class="about-item text-center">
                             <i class="fa fa-book"></i>
                             <h3>Mission</h3>
                             <hr />
                             <p>To provide innovative solutions that empower people and organizations to achieve their goals and make a positive impact in the world</p>
                         </div>
                     </div>
                  <div class="col-md-4">
                         <div class="about-item text-center">
                             <i class="fa fa-book"></i>
                             <h3>Vision</h3>
                             <hr />
                             <p>To be the leading provider of transformative technology solutions that drive progress and inspire positive change.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
@*    <div class="container">
        <div class="mission">
            <h2>Mission</h2>
            <p>To provide innovative solutions that empower people and organizations to achieve their goals and make a positive impact in the world.</p>
        </div>

        <div class="vision">
            <h2>Vision</h2>
            <p>To be the leading provider of transformative technology solutions that drive progress and inspire positive change.</p>
        </div>
    </div>*@


</section><!-- End About Section -->

 
<section id="ourwork" class="ourwork">

      <h2>Our Work</h2>
      <div class="row">
        <div class="column" style="background-color:lightyellow;">
        &nbsp;<h2>Autism in Malaysia</h2>
         &nbsp;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget est eu magna malesuada finibus.</p>
         <button style="background-color: lightsteelblue ; border: none; padding: 15px; color: antiquewhite";>
          <a href="./5649-15825-1-SM.pdf">Read more</a>
        </button>
      </div>
        <div class="column" style="background-color:lightgoldenrodyellow;">
        <h2>Challenges in ASD</h2>
        <p>Challenges that individuals with ASD may face include difficulties in:</p>
        <ul>
         <li>Social communication: People with ASD may struggle with verbal and nonverbal communication. </li>
         <li>Social interaction: Individuals with ASD may have difficulty forming and maintaining relationships</li>
         <li>Sensory processing: People with ASD may be overly sensitive or under-sensitive to sensory stimuli <br />such as sound, touch, taste, and smell.</li>
       </ul>  
  </div>
</div>
      <br />
      <br />
       <h2>Families and Caregivers</h2>
      <div class="content">
                    <h2>
                        Autism families and caregivers play a critical role in supporting individuals with Autism Spectrum Disorder (ASD) in their daily lives. 
                    </h2>
                    <p>
                        Effective communication, positive reinforcement, and consistent routines are also important strategies for supporting individuals with ASD. 
                        Families and caregivers can work with healthcare professionals to develop individualized treatment plans that 
                        address the unique needs of the individual with ASD.
                    </p>                    
                     <div class="img" data-aos="zoom-out" data-aos-delay="200">
                         <img src="~/images/families1.jpg" class="img-fluid" alt="">
                         <img src="~/images/families2.jpeg" class="img-fluid" alt="">
                         <img src="~/images/families3.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
                <br /><br />
            <div class= teachers>
                <h2>Our Therapies</h2>
                 <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://t3.ftcdn.net/jpg/02/79/02/38/360_F_279023828_VzSVF4FtTQy2MyPPwtrQjeig3L2zVVer.jpg"
                       class="img-fluid" alt="Sample image">
                     </div>
                <div class="text">
                    <p>We’re proud to offer you and your loved ones a <br />comprehensive suite of therapies and methodologies.</p>
                    <ul>
                        <li>Adolescent Health</li>
                        <li>AAdult Programs</li>
                        <li>Group Parent Workshops</li>
                        <li>IEP and School Behavioral Training and Individualized Supports</li>
                        <li>Parent Training</li>
                        <li>Program Supervision and Direction</li>
                    </ul>
                </div>
            </div>
</section>
 <!-- ======= Team Section ======= -->

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our hard working team</p>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="~/images/walter.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>

                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="~/images/sarah.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>
 
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="~/images/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="~/images/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->


  
  @*<main> gpt
                <section class="challenge">
                    <h2>Our Challenge</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod elit a odio vestibulum, id bibendum est congue. Maecenas efficitur nulla quis velit tempor posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus ipsum eget aliquet feugiat. Donec at mi vel massa fermentum interdum. Suspendisse potenti.</p>
                </section>

                <section class="familiar">
                    <h2>Familiar Territory</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod elit a odio vestibulum, id bibendum est congue. Maecenas efficitur nulla quis velit tempor posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus ipsum eget aliquet feugiat. Donec at mi vel massa fermentum interdum. Suspendisse potenti.</p>
                </section>

                <section class="service-label">
                    <h2>Our Service Label</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod elit a odio vestibulum, id bibendum est congue. Maecenas efficitur nulla quis velit tempor posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus ipsum eget aliquet feugiat. Donec at mi vel massa fermentum interdum. Suspendisse potenti.</p>
                </section>
            </main>

            <footer>
                <p>&copy; 2023 Autism.</p>
            </footer>*@

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>