@page
@model WebTechAss.Pages.AboutModel
@{
}

@Model.Name
<section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>For 10 years and counting, the Autism Society, including our nationwide network of affiliates, connects people to the resources 
                  they need through education, advocacy, support, information and referral, and community programming.</h2>
              <p>
               Our mission is to support and empower families affected by autism spectrum disorders. 
               We work to identify services and activities specfic to their needs. Our goal is to provide 
               a sense of inclusion and opportunity for those families within the local community and the ASD community. 
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="~/images/who we are.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
