@page
@model WebTechAss.Pages.blogModel
@{
}

 <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
		<br /><br />
		<h1>Blog</h1>
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="~/images/blog1.jpeg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Reasons why eye contact can be hard for those on the spectrum</a>
              </h2>


              <div class="entry-content">
                <p>
                  "For those reading this, you should never force someone into eye contact. Instead, 
                  meet them where they are and find a way to communicate best for them. "
                </p>
                <div class="read-more">
                  <a href="https://www.autismspeaks.org/blog/reasons-why-eye-contact-can-be-hard-those-spectrum">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="~/images/blog2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Expert Q&A: Dr. Vanessa Bal discusses gaps in mental health care for autistic adults</a>
              </h2>


              <div class="entry-content">
                <p>
                  In this Q&A, Dr. Vanessa Bal discusses the biggest gaps in the care available for autistic adults with co-occurring mental health conditions, and shares potential directions for future research.
                </p>
                <div class="read-more">
                  <a href="https://www.autismspeaks.org/blog/expert-qa-dr-vanessa-bal-discusses-gaps-mental-health-care-autistic-adults">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="~/images/blog3.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Autism and Anxiety: Treatment options for adults.</a>
              </h2>

              <div class="entry-content">
                <p>
                  Studies show that up to 50% of autistic adults have an anxiety disorder – 
                  twice that of neurotypical adults – making it one 
                  of the most common co-occurring conditions of autism spectrum disorder.
                </p>
                <div class="read-more">
                  <a href="https://www.autismspeaks.org/blog/autism-and-anxiety-treatment-options-adults">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <article class="entry">

              <div class="entry-img">
                <img src="~/images/blog4.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Early diagnosis made a world of difference for my autistic son.</a>
              </h2>

              <div class="entry-content">
                <p>
                  "If you have any concerns about your son’s or daughter’s development, insist on seeing a developmental pediatrician or neurologist. My point is, don’t wait. Waiting won’t change a diagnosis. But not waiting can change the outcome."
                </p>
                <div class="read-more">
                  <a href="https://www.autismspeaks.org/blog/early-diagnosis-made-world-difference-my-autistic-son">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><ion-icon name="search"></ion-icon></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="https://www.autismspeaks.org/sites/default/files/styles/wysiwyg_medium_width/public/Lonnie%20Zwaigenbaum%202.jpg?itok=6RQSH6tS" alt="">
                  <h4><a href="https://www.autismspeaks.org/blog/autism-care-network-works-expand-access-autism-diagnosis-canada">The Autism Care Network works to expand access to autism diagnosis in Canada</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="https://www.autismspeaks.org/sites/default/files/styles/wysiwyg_medium_width/public/nik-QjoM_O33NVk-unsplash.jpg?itok=Q_5nWOjN" alt="">
                  <h4><a href="https://www.autismspeaks.org/blog/autistic-adult-perspective-learning-recognize-and-manage-my-anxiety">Autistic adult perspective: Learning to recognize and manage my anxiety</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="https://www.autismspeaks.org/sites/default/files/styles/wysiwyg_medium_width/public/MicrosoftTeams-image_2.png?itok=fU6_htFS" alt="">
                  <h4><a href="https://www.autismspeaks.org/blog/being-seen-girl-autism-meet-ayah-age-4-who-matches-sounds-colors-and-hums-all-day">Being seen as a girl with autism</a></h4>
                  <time datetime="2023-02-28">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="https://www.autismspeaks.org/blog/my-severely-autistic-son-showed-me-he-can-thrive-away-home" alt="">
                  <h4><a href="blog-single.html">My severely autistic son showed me he can thrive away from home</a></h4>
                  <time datetime="2020-01-01"> December 27, 2022</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="https://www.autismspeaks.org/blog/what-autism-has-taught-me-mom">What autism has taught me, as a mom</a></h4>
                  <time datetime="2020-01-01">December 19, 2022</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>