@page
@model WebTechAss.Pages.donateModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>
</head>

<body>
    <div class="container3">

        <form action="">
        <div class="row">

            <div class="col">
                <h3 class="title">billing address</h3>

                <div class="inputBox">
                    <span>full name :</span>
                    <input type="text" placeholder="john" />
                </div>
                    <div class="inputBox">
                        <span>email :</span>
                        <input type="text" placeholder="example@gmail.com" />
                    </div>
                    <div class="inputBox">
                        <span>address :</span>
                        <input type="text" placeholder="room - street - locality" />
                    </div>
                    <div class="inputBox">
                        <span>city :</span>
                        <input type="text" placeholder="mumbai" />
                    </div>
                <div class="flex">
                        <div class="inputBox">
                            <span>state :</span>
                            <input type="text" placeholder="malaysia" />
                        </div>
                        <div class="inputBox">
                            <span>zip code :</span>
                            <input type="text" placeholder="123 456" />
                        </div>
                </div>
            </div>
                <div class="col">
                    <h3 class="title">payment</h3>

                    <div class="inputBox">
                        <span>cards accpected :</span>
                        <img src="~/images/card_img.png"  alt=""/>
                    </div>

                    <div class="inputBox">
                        <span>name on card :</span>
                        <input type="text" placeholder="mr. john" />
                    </div>
                   
                    <div class="inputBox">
                        <span>credit card number :</span>
                        <input type="number" placeholder="1111-2222-3333-4444" />
                    </div>
                    <div class="inputBox">
                        <span>exp month :</span>
                        <input type="text" placeholder="May" />
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>exp year :</span>
                            <input type="number" placeholder="2022" />
                        </div>
                        <div class="inputBox">
                            <span>CW :</span>
                            <input type="text" placeholder="1234" />
                        </div>
                    </div>
                </div>
        </div>

        <input type="submit" value="proceed to checkout" class="submit-btn" />

        </form>
    </div>
</body>


<style>
*{
    margin:0;
    padding:inherit;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-transform:capitalize;
    transition:all .2s linear;
}
body{
        background: linear-gradient(90deg,#2c698d 55%, #bae8e8 45.1%);
}

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        min-height: 100vh;
/*        background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);*/
    }

        .container3 form {
            padding: 20px;
            width: 700px;
            background: whitesmoke;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            margin-top:65px;
        }

            .container3 form .row {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }

                .container3 form .row .col {
                    flex: 1 1 250px;
                }

                    .container3 form .row .col .title {
                        font-size: 20px;
                        color: #333;
                        padding-bottom: 5px;
                        text-transform: uppercase;
                    }

                    .container3 form .row .col .inputBox {
                        margin: 15px 0;
                    }

                        .container3 form .row .col .inputBox span {
                            margin-bottom: 10px;
                            display: block;
                        }

                        .container3 form .row .col .inputBox input {
                            width: 100%;
                            border: 1px solid #ccc;
                            padding: 10px 15px;
                            font-size: 15px;
                            text-transform: none;
                        }

                            .container3 form .row .col .inputBox input:focus {
                                border: 1px solid #000;
                            }

                    .container3 form .row .col .flex {
                        display: flex;
                        gap: 15px;
                    }

                        .container3 form .row .col .flex .inputBox {
                            margin-top: 5px;
                        }

                    .container3 form .row .col .inputBox img {
                        height: 34px;
                        margin-top: 5px;
                        filter: drop-shadow(0 0 1px #000);
                    }

            .container3 form .submit-btn {
                width: 100%;
                padding: 12px;
                font-size: 17px;
                background: #27ae60;
                color: #fff;
                margin-top: 5px;
                cursor: pointer;
            }

                .container3 form .submit-btn:hover {
                    background: #2ecc71;
                }

</style>