@page
@model WebTechAss.Pages.employmentModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <section id="hero" class="d-flex align-items-center">

        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <div class="row">
                <div class="col-xl-6">
                    <h2>Resource</h2>
                    <h1>Employee</h1>
                    
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <div class="row">
        <div class="column" style="background-color:#fff;">
           
            <p style="font-family:'Californian FB'">Employment plays a pivotal role in adulthood. 
                By using appropriate services and support and taking advantage of 
                an individual’s strengths and abilities, 
                employment is attainable for most adults who experience Autism. 
                Planning for future employment should be part of every child’s life plan and 
                career pathways should be expected in adulthood. 
                There are stereotypes around which types of jobs are “good” for people who experience Autism, 
                but these are simply stereotypes. 
                Adults with Autism are represented in every profession.</p>
        </div>
        <div class="column" style="background-color:#fff;">
            
            <p style="font-family:'Californian FB'">When planning for employment, it’s helpful to connect with your local Autism Society 
                affiliate and/or Department of Vocational Rehabilitation (can be found online), 
                which has representation in each state and territory in the United States and can be found online. 
                The state vocational rehabilitation agency assists people with Autism and other disabilities to prepare 
                for and engage in employment. 
                This agency has resources and connections to meet your career goals, 
                whether you need education prior to employment, 
                a communication aide, or a job coach, they can be a great resource.</p>
        </div>
    </div>

    <section id="features" class="features">
        <h2 style="margin-left:35px; font-size:30px; font-family:'Times New Roman'">Employment Models</h2>
        <br />
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="https://www.essexopportunities.co.uk/media/1073/hop-homepage-panels_people.jpg"  alt="">
          </div>
          <div class="col-md-7">
            <h3>Competitive Employment</h3>
            <p class="fst-italic">
              Competitive employment is the most independent, with little to no formal support 
              offered in the work environment. Another facet of competitive employment is integrated employment, 
              which ensures that the employee is able to interact and is on a team with other employees that do not experience Autism, as opposed to being in a 
              siloed department and/or physical location that is only for employees with Autism.
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="https://www.thebalancemoney.com/thmb/XK54rSaxqxiwb9f6b1UifAFddL4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/LoanOptionsforSelf-EmployedWorkersDec.212021-8934e7595b3c4d7781e0d55e041f33e7.jpg" alt="" style="height:300px">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Self-employement</h3>
            <p class="fst-italic">
             Self-employment is also an option some individuals with Autism pursue. 
             This requires that you become a business owner or secure work as a freelancer. 
             This requires strong motivation, but can offer greater flexibility.
            </p>
           
            
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="https://www.endeavour.com.au/-/media/Project/Endeavour/MainSite/Home/About/Our-stories/Blog-Posts/2020/what-is-supported-employment/what-is-supported-employment.jpg" alt="" style="width:90%">
          </div>
          <div class="col-md-7">
            <h3>Supported Employment</h3>
            <p>Supported employment Is paid employment that provides ongoing support 
                (e.g. a job coach or paid supervisor). 
                Supported employment has typically been provided to those with more significant support needs.</p>
            

          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="https://newsinteractive.post-gazette.com/sheltered-workshops/img/20170404rldShelteredWorkshops03_forweb.jpg" alt="" style="height:300px;width:500px">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Sheltered Employment</h3>
            <p class="fst-italic">
              Sheltered employment guarantees a job in a facility-based setting that is typically segregated and employs only individuals with disabilities. 
              However, these are mostly being phased out since many are not in line with best-practices.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    
</body>

<style>
    #hero {
        width: 100%;
        height: 90vh;
        background: url("../images/The-Happy-Employees.jpg") top center no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 82px;
        width:1300px;
    }

        #hero:before {
            content: "";
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        #hero h1 {
            margin: 0;
            font-size: 55px;
            font-weight: 700;
            color:black;
        }

        #hero h2 {
            color: darkslategray;
            margin: 10px 0 0 0;
            font-size: 40px;
            margin-top:-50px;
        }

    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        margin-top:40px;
        float: left;
        width: 45%;
        padding: 10px;
        height: 300px; 
        text-align:justify;
        margin-left:35px;
        /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
.features {
  padding-top: 10px;
}

.features .features-item+.features-item {
  margin-top: 60px;
}



.features .features-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #001973;
}

.features .features-item ul {
  list-style: none;
  padding: 0;
}

.features .features-item ul li {
  padding-bottom: 10px;
}

.features .features-item ul li:last-child {
  padding-bottom: 0;
}

.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.features .features-item p:last-child {
  margin-bottom: 0;
}


</style>
