@page
@model WebTechAss.Pages.FAQModel
@{
}
<section id="faq" class="faq">
<body>
  <div class="container">
            <h2>FAQs</h2>

            <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
             <span class="accordion-title">Can my friends and I pool funds to give?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
               Absolutely! Every bit counts so use this opportunity to make a difference together. You may request for individual receipts by emailing
              finance@gengemilang.org with your online banking/iPay88 successful transactions details.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Is giving invested optimally?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                We recognize that every resource entrusted to us can transform our client’s lives. We promise to manage the 
                funds received honestly and will use it effectively to benefit our clients.
                        </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">After registering online, when will I get to volunteer at my chosen program?"</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              You may begin volunteering at your chosen program the moment you’ve completed your Volunteer Orientation (VO), signed our code of conduct & agreed to a volunteer date set by our staff. 
              Upon registration, you should receive a call from us within a month.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">How much time do I need to volunteer?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                This is up to you. Based on your interest & availability, 
                we have volunteer opportunities for one-off events, weekdays, weekends, on a weekly, 
                fortnightly or monthly basis in our communities, institutions and schools
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
           <span class="accordion-title">How much do you charge for your full volunteer training workshop?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                Contact info@gengemilang.org for more information.
              </p>
          </div>
        </div>
      </div>
            <script src="~/js/site.js"></script>
    </div>
        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </body>
</section>

<style>
    .faq{
    box-sizing: border-box;
}

*::before,
*::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
/*    text-align: center;*/
    font-family: 'Times New Roman', sans-serif;
        background-color: #F0F4F6;
    color: rgba(65, 84, 241, 0.3);
    display: flex;
    min-height: 100vh;
}
.faq h2 {
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    color: #0d0212;
    font-family:'Californian FB';
}


.faq .container {
    margin: 0 auto;
    padding: 4rem;
    width: 50rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
        border-bottom: 1px solid #03b5d2;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
 .accordion button:focus {
        cursor: pointer;
        color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
        cursor: pointer;
            color: #03b5d2;
            border: 1px solid #03b5d2;
 }

.accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
        color:steelblue;
 }

.accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
 }

.accordion button .icon::before {
            display: block;
     position: absolute;
            content: '';
            top: 9px;
     left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
}

.accordion button .icon::after {
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
}

.accordion button[aria-expanded='true'] {
        color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after {
            width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
        color:darkslategray;
}

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid steelblue;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: steelblue;
        }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid steelblue;
        background: steelblue;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 20%;
        position: absolute;
        top: 26%;
        left: 67%;
        transform: translate(-50%, -50%);
    }
</style>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

