@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
	<meta charsetv="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Website With Login & Registration | Codehal</title>
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

<style>
body {
			font-family: Arial, 'Times New Roman';
			text-align: center;
			background-image: url('../images/homw1.jpg');
			background-color: rgba(0, 0, 0, 0.5);
			background-repeat: no-repeat;
			background-size: cover;
		}

		h1 {
			color: darkblue;
			font-size: 60px;
			margin-top: 50px;
		}
		p {
			color:brown;
			font-size: 30px;
			margin-top: 20px;
		}
		button {
			background-color: #336699;
			color: #ffffff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			margin-top: 30px;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		button:hover {
			background-color: #25457c;
		}
	</style>
</head>

<body>
    <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
	<br>
	<br>
	<br>
      <h2><b>Welcome to <span>AutismSave</span></b></h2>
      <p>The world sees obstacles where we see possibilities.</p>
      <div class="d-flex">
		<button onclick="window.location.href = 'About.html'"> Get Started </button>&nbsp;&nbsp;&nbsp;

		<button onclick="location.href = 'https://youtu.be/LfOcTVu6pcU';"> Watch video </button>
      </div>
    </div>	
  </section>
	@* <nav class="navigation">
		<a href="#">HOME</a>
	 <a href="#">ABOUT</a>
	 <a href="#">PARTNERSHIP</a>
	 <a href="#">BLOG</a>
	 <a href="#">FAQ</a>
	 <a href="#">RESOURCE</a>
	 <button class="btnlogin-popup">Login</button>
	 </nav>*@

</body>


	@*login pages <title>Login Page</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-image: url("../images/bg.jpg");
			background-size: cover;
		}
		form {
			width: 400px;
			margin: 0 auto;
		}
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
			border-radius: 4px;
		}
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
			border-radius: 4px;
		}
		button:hover {
			background-color: #45a049;
		}
		.container {
			padding: 16px;
		}
	</style>
</head>
<body>
	<form>
		<div class="container">
			<label for="username"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="username" required>

			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>
		</div>
	</form>
</body>


@*<div class="container">
    <form action="/action_page.php">
        <div class="row">
            <h2 style="text-align:center">Welcome</h2>

                <img src="https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg" alt=”an artist's rendition of a black hole in space” width="400" height="300">

            <div class="vl">
                <span class="vl-innertext"></span>
            </div>
            <br></br>
            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </div>
            <br></br>
            <div class="col">
                <div class="hide-md-lg">
                    <p>Or sign in manually:</p>
                </div>

                <input type="text" name="username" placeholder="Username" required><br></br>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </div>

        </div>
    </form>
</div>

<br></br>
<div class="text-center">
            <a href="btn">Sign up</a>
        </div>
<div class="text-center">
<a href="btn">Forgot password?</a>
                    </div>

                    <br></br>

                    <p>Go to our<a href="https://www.facebook.com/">Facebook</a>.</p>
                    <p>Go to our<a href="https://www.instagram.com/">Instagram</a>.</p>


*@