@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
	<meta charsetv="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="~/css/StyleSheet.css"/>

<style>
body {
			font-family: sans-serif, 'Times New Roman';
			text-align: center;
			background-image: url('../images/index1.jpg');
			background-color: rgba(0, 0, 0, 0.5);
			background-repeat: no-repeat;
			background-size: cover;
			
}

.container h2 {
			color: darkblue;
			font-size: 50px;
			margin-top: 50px;
}

.container p {
			color:black;
			font-size: 30px;
			margin-top: 20px;

}
		
.container button {
			background-color: #336699;
			color: #ffffff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			margin-top: 30px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-left:50px;
}

.container button:hover {
			background-color: #25457c;
		}
	</style>
</head>

<body>
    <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container">
	<br>
	<br>
	<br>
      <h2><b>Welcome to <span>MARF</span></b></h2>
      <p>The world sees obstacles <br />where we see possibilities.</p>
      <div class="d-flex">
		@*<button onclick="window.location.href = "about""> Get Started </button>&nbsp;&nbsp;&nbsp;*@
				<a href="about"><button>Get Started</button></a>&nbsp;&nbsp;&nbsp;
		<button onclick="location.href = 'https://youtu.be/LfOcTVu6pcU';"> Watch video </button>
      </div>
	  <div class="background"></div>
    </div>	
  </section>


</body>


