@page
@model WebTechAss.Pages.InternshipModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body> 
    <br /><br />

<section id="internship" class="internship section-bg">
      <div class="container" data-aos="fade-up" style="width:100%">
           <div class="section-title">
               <h2>Internship</h2>
           </div>
        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>What will I get to experience?</h3><br /><br />
              <h3>What can I expect?</h3>
              
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <h4>Corporis voluptates sit</h4>
                  <p>You’ll be working alongside a group of fun and supportive group of colleagues from a wide range of backgrounds 
                      who bring a wealth of knowledge and experience to the table.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <h4>Ullamco laboris nisi</h4>
                  <p>You’ll also get to meet and serve alongside a fantastic bunch of dedicated volunteers.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <h4>Labore consequatur</h4>
                  <p>Be prepared to be challenged, stretched and inspired to be the very best that you can be – professionally and personally.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <h4>Beatae veritatis</h4>
                  <i class="fa-regular fa-face-awesome"></i>
                  <p>You will be assigned a mentor who will guide you through your 3-month internship. 
                      By the end of your time with us, you would’ve been given the opportunity 
                      to cultivate value-added skills and values that make you an asset to future employers regardless of industry</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What you get</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
                <img src="~/images/intern1.jpg" alt="" style="width:100%;">
              <h3>Education beyond the classroom</h3>
              <p>Prepare to be exposed to new environments and experiences that will shape your worldview about the community and nation 
                  - and the important role you play in positively influencing it. 
                  You have the chance to apply your academic knowledge to address real social needs of the community.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                <img src="~/images/intern3.jpg" alt="" style="width:100%; height:210px">
              <h3>Rise up to the challenge​</h3>
              <p>We believe that leadership is not about position or title but about influence; therefore no role is insignificant. 
                  You will be given the opportunity to lead projects, 
                  deliver presentations, facilitate at our training sessions in schools, communities and children homes.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <img src="~/images/intern2.jpg" alt="" style="width:100%">
              <h3>Invest in your employability</h3>
             <p>Enhance your competitiveness in the marketplace by developing skills 
                 such as problem solving, critical thinking, 
                 presentation & public speaking, project & event management, people & time management –
                 which will help you in your future career.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

 <div class="container1"> 
    <h3>Skills & qualifications</h3>
    <ul>
        <li>High school graduate diploma</li>
        <li>Proficiency in Microsoft Word, Excel and Powerpoint</li>
        <li>Proficiency in Bahasa Malaysia and Chinese is a plus</li>
    </ul>
       
    
    <hr style="height:2px;border-width:0;color:gray;background-color:gray" />
    <h3>How to apply?</h3>
    <ul>
        <li>Send the following documents to jobs@gengemilang.org with the subject heading titled ‘Internship Application’</li>
        <li>Cover letter, Resume, Passport-sized photo</li>
        <li>Suitable candidates will be contacted for an interview and subsequently notified if they’ve been chosen for the internship program.</li>
    </ul>
    </div>    

    <br />
    <h4 style="text-align:center">Send your Resume to jobs@gengemilang.org and you'll hear from us soon.</h4>
    <button class="btn"><a href="contact" style="text-decoration:none">Contact us</a></button>
    
</body>
<style>
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e03a3c;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

.internship .container {
  position: relative;
  z-index: 10;
}

.internship .content {
  padding: 30px 30px 30px 0;
}

.internship .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.internship .content p {
  margin-bottom: 30px;
}

.internship .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #e03a3c;
}



.internship .icon-boxes .icon-box {
  margin-top: 30px;
}

.internship .icon-boxes .icon-box i {
  font-size: 40px;
  color: #e03a3c;
  margin-bottom: 10px;
}

.internship .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.internship .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}


  .internship .content {
    padding-right: 0;
  }


.internship {
    text-align: center;
  }

.pricing .box {
  padding: 20px;
  background: #2b2b2b;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  height:600px;
}

.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.pricing .box h4 {
  font-size: 42px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.pricing .featured {
  background: #e03a3c;
}
/*.container1{
    margin-left:120px;
}*/
.container1 h3{
    color:#e03a3c;
}
.container1 icon-icon{
    float:left;
    font-size:1rem;
}
.container1 ul li{
    padding-left:40px;
    padding-right:100px;
    font-size:20px; 
}
.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  text-decoration:none;
  
}

.btn:hover {opacity: 0.6}
</style>