@page
@model WebTechAss.Pages.PartnershipModel
@{
}
<section id="Parnership" class="partnership">
      <div class="container" data-aos="fade-up">
		<br />
		<h1>Collaborate with Us</h1>
	<main>
		<h2>What We Offer</h2>
		<ul>
			<li>Access to our customer base</li>
			<li>Collaborative marketing efforts</li>
			<li>Product integration</li>
			<li>Joint events and promotions</li>
			<li>Exclusive discounts and offers</li>
		</ul>

		<h2>Why Partner with Us</h2>
		<p>We believe that our company is an ideal partner for businesses that share our values and goals. Here are some reasons why:</p>
		<ul>
			<li>Our commitment to quality and customer satisfaction</li>
			<li>Our passion for innovation and creativity</li>
			<li>Our track record of success</li>
			<li>Our willingness to collaborate and build long-term relationships</li>
		</ul>

		<h2>How to Partner with Us</h2>
		<p>If you are interested in partnering with us, please fill out the form below and we will be in touch with you shortly:</p>
		<form action="#" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name"><br>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email"><br>

			<label for="phone">Phone:</label>
			<input type="tel" id="phone" name="phone"><br>

			<label for="message">Message:</label><br>
			<textarea id="message" name="message" rows="5" cols="30"></textarea><br>

			<input type="submit" value="Submit">
		</form>
	</main>
	</div>
</section>


