@page
@model WebTechAss.Pages.PartnershipModel
@{
}
<link rel="stylesheet" href="~/js/site.js" />

<body>
    <br /><br />
@*<div class="container1">
  <img src="~/images/collaborate.png" alt="Nature" style="width:100%; height:90%">
  <div class="text-block">
    <h2>Collaborate with us</h2>
    <p>Speak to us and see how we can collaborate to achieve your CSR goals.</p>
  </div>
</div>*@
<div class="fullContainer banner" id="topsection">
<div class="container">
    <h1>Together We Can <span>Save Lives</span></h1>
    <p>Speak to us and see how we can collaborate to achieve your CSR goals.</p>
</div>
<button>Read More Detail</button>


</div>
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><ion-icon name="create-sharp"></ion-icon></div>
              <h4 class="title">Found our program</h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              <button id="myButton">Read More</button>
              <div id="myPopup" class="popup" style="z-index:1">
               <div class="popup-content" style="z-index:1">
                  <h1>
                  Fund Our Programs
              </h1>
            <p>If your organisation is looking to address education and poverty issues in Malaysia, connect with us! With funding support, 
                together we can improve solutions that narrows the gaps vulnerable communities face in literacy, access to education or family well-being.</p>
            <button id="closePopup">
                  Close
              </button>
            </div>
          </div>
          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="z-index:0">
              <div class="icon"><ion-icon name="cash"></ion-icon></div>
              <h4 class="title">Fundaries for us</h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
@*             <button id="myButton">Read More</button>
              <div id="myPopup" class="popup-2" style="z-index:1">
               <div class="popup-content-2">
                  <h1 style="color:black;">Fundraise for us</h1>
            <p>Involve your staff, businesses or clients to be part of your fundraising initiative 
                where proceeds will be channeled to to address education and poverty issues in Malaysia.
                Cash donations may be eligible for tax-exemption should it meet the 
                conditions under subsection 44(6) of Income Tax Act 1967</p>
            <button id="closePopup">
                  Close
              </button>*@
            </div>
          </div>
           
          

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><ion-icon name="person-add"></ion-icon></div>
              <h4 class="title"><a href="Volunteer">Volunteer with us</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><ion-icon name="extension-puzzle"></ion-icon></div>
              <h4 class="title">Join us</h4>    
               <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
            </div>
            <script>
        myButton.addEventListener("click", function () {
            myPopup.classList.add("show");
        });
        closePopup.addEventListener("click", function () {
            myPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.classList.remove("show");
            }
        });
    </script>
              @* <button onclick="togglePopup()">Show Popup</button>
       <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
            <div class="close-btn" onclick="togglePopup()">&times;</div>
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur laborum rem sed laudantium excepturi veritatis voluptatum architecto, dolore quaerat totam officiis nisi animi accusantium alias inventore nulla atque debitis.</p>
            </div>
           </div>*@
      </div>
      
    </section>

    <section id="clients" class="clients section-bg">
        <h3 style="font-family:'Californian FB'; color:black">Our Patner</h3>
      <div class="container" data-aos="zoom-in">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p1-removebg-preview.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p2-removebg-preview.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p3-removebg-preview.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p4-removebg-preview.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p5-removebg-preview.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="~/images/p6-removebg-preview.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <section>
    <div class="container-2">
        <div class="title">Registration</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" id="dot-1">
                    <input type="radio" name="gender" id="dot-2">
                    <input type="radio" name="gender" id="dot-3">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Prefer not to say</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
    </section>
</body>
	

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



<style>
.banner{
    min-height:85vh;
    width:100%;
    background-image:url("../images/p1.jpeg");
    background-size:cover;
}

.banner h1{
    margin-top:200px;
    display:inline-block;
    font-size:inherit.5rem;
    color:#fff;
    text-shadow:0 0 2px #000;
    width:50%;
    line-height:4.2rem;
    font-weight:100;
}
.banner h1 span{
    background-color:var(--themeRed);
    line-height:inherit.5rem;
    padding: 0 15px;
    font-weight:600;
    border-radius:5px;
}
.banner p{
    color:#fff;
    width:50%;
    text-shadow:0 0 2px #000;
    margin-top:10px;
}
.banner button{
    background-color:#f9004d;
    border:0;
    outline:none;
    color:#fff;
    padding:10px 15px;
    margin-top:20px;
    font-size:15px;
    border-radius:3px;
    font-weight:600;
}
body{
	background-color:#f2f2f2;
    width:100%;
}
.container1 {
  position: relative;
  font-family: Arial;
  font-size:23px;
}
h2 {
    color:darkblue;
}
.text-block {
  position: absolute;
  bottom: 40px;
  right: 100px;
  left:190px;
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:15px;
  text-align:center;
  width:fit-content;
}

.partnership main {
        margin: 20px;
    }

.partnership h2 {
    margin-top: 40px;
}

.partnership ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.partnership li:before {
    content: "• ";
    color: #333;
}

 .partnership form {
    margin-top: 20px;
 }

.partnership label {
    display: block;
    margin-top: 10px;
 }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
     width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 0;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon icon-icon {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon icon-icon {
  color: #fff;
}

/*.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

button {
  position:absolute;
  top:80%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:20px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}*/
.popup
/*.popup-2*/{
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
        }
.popup-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888888;
            width: 40%;
            font-weight: 300;
            text-align:center;
            
}
.popup-content button {
            display: block;
            margin: 0 auto;
        }
.popup-content-2 {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888888;
            width: 40%;
            font-weight: 300;
            text-align:center;
            
}
.popup-content-2 button {
            display: block;
            margin: 0 auto;
}       
 .show {
            display: block;
}
 h1 {
            color:blueviolet;
            font-family:'Californian FB';
}

.clients {
  padding: 15px 0;
  text-align: center;
  background-color:white;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}


.clients img {
    max-width: 90%;
}

.container-2{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container-2 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

 .container-2{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
   overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }

  .container-2 .content .category{
    flex-direction: column;
  }

   
</style>