@page
@model WebTechAss.Pages.ResourceModel
@{
}
<section id="service" class="services-1" style="max-width:1500px">
        <div class="s-main">
        <img src="~/images/resource.jpg" />
        <div class="resource-text">
            <h1>Resources</h1>
            <h5>Autism <span>& Society</span></h5>
            <p>Everyone deserves to live fully. At the core of the Autism Society’s work is our goal to influence meaningful change in support of the Autism community. 
                Find the support you need, when you need it by accessing our resources below.</p>
        </div>
    </div>
</section>
<section id="service" class="services" style="margin-left:40px;margin-right:40px;">
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <h3>Learn 'All About Autism' With Us Through Interviews, Resource Guides & More</h3>
              <p>The initiative includes a special landing page, which will be available year-long, where Malaysians can read, watch,
                  and learn more about autism spectrum disorder through interviews with autistic individuals, 
                  as well as find resources from specialists, therapists, and experts in the field..</p>
              <a href="https://says.com/my/lifestyle/says-all-about-autism-awareness" class="read-more"><span>Read More</span><ion-icon name="arrow-forward-outline"></ion-icon></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <h3>The Fort Collins Autism Resource Fair</h3>
              <p>The Fort Collins Autism Resource Fair is a free, annual event hosted by the Fort Collins Museum of 
                  Discovery that provides information and support for the autism community in and around Fort Collins..</p>
              <a href="https://www.coloradoan.com/things-to-do/events/?_evDiscoveryPath=/event%2F1648520-the-fort-collins-autism-resource-fair" class="read-more"><span>Read More</span> <ion-icon name="arrow-forward-outline"></ion-icon></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <h3>New Local Autism Resources Helping Families Find Fun in Therapy</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="https://www.click2houston.com/houston-life/2023/04/20/new-local-autism-resources-helping-families-find-fun-in-therapy/" class="read-more"><span>Read More</span> <ion-icon name="arrow-forward-outline"></ion-icon></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
             
              <h3>Autism Resource Specialists In North Carolina</h3>
              <iframe width="300" height="325" src="https://www.youtube.com/embed/J6JBShvgIY8"></iframe>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              
              <h3>Autism Services at HMEA</h3>
              <iframe width="300" height="325" src="https://youtube.com/embed/dh99quNhLc8"></iframe>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
           
              <h3>Autism-Center for Disease Control and Prevention</h3>
                <p>What is autism spectrum disorder (ASD) or autism? What causes it? </p>
                <iframe width="300" height="325" src="https://youtube.com/embed/1fw1CcxCUgg"></iframe>
            </div>
          </div>

        </div>


    </section><!-- End Services Section -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>