@page
@model WebTechAss.Pages.TeamModel
@{
}
 <!-- ======= Team Section ======= -->
 <div class="fullContainer banner" id="topsection">
<div class="container">
    <h1>Our Hard Working <span>Team</span></h1>
</div>
</div>

    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="~/images/walter.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>

                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="~/images/sarah.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>
 
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="~/images/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="~/images/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                  <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
                  <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<style>
 .banner{
    min-height:85vh;
    width:100%;
    background-image:url("../images/team1.jpg");
    background-size:cover;
}

.banner h1{
    margin-top:220px;
    display:inline-block;
    font-size:inherit.7rem;
    color:#fff;
   /* text-shadow:0 0 2px #000;*/
    width:50%;
    line-height:4.2rem;
    font-weight:100;
}
.banner h1 span{
    background-color:var(--themeRed);
    line-height:inherit.7rem;
    padding: 0 15px;
    font-weight:600;
    border-radius:5px;
}
</style>