

@page
@model WebTechAss.Pages.VolunteerModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="site.js">
<head>
	<title>Volunteer Page</title>
</head>
<body>
	<div class="container" style="width:100%">
  <img src="~/images/Volunteering.jpg" alt="Snow" style="width:100%; height:90%">
  <div class="centered">Get Involved</div>
</div><br />

  @* <h3>Interested in volunteering?</h3>*@
   <section class="fullContainer" id="volunteerSection">
	   <div class="container1">
		   <h2 class="sectionTitle">Interested in volunteer?</h2>
		   <div class="cards">
			   <div class="onlineBox">
				   <div class="title">1) Register Online</div>
				   <p>Register online through our volunteer registration form</p>
				   @*<button>Click here</button>*@
				   <button onclick="document.getElementById('id01').style.display='block'" class="btn2" style="width:auto;">Click here</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>

    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit" style="width:100%">Registre Now</button>
	  <br />
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" style="margin-right:850px;" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
			   </div>

			   <div class="meetBox">
				   <div class="title">2) Meet Us</div>
				   <p>Meet us in person and go through an orientation to prepare yourself</p>
				   
			   </div>

			   <div class="onlineBox">
				   <div class="title">3) Impact Lives</div>
				   <p>Start impacting lives! Join our staff & other volunteers on-ground.</p>
				
			   </div>

		   </div>
	   </div>
   </section>

   <!-- ======= Testimonials Section ======= -->

<div class="slideshow-container" style:"1500px">


<div class="mySlides fade" style="opacity:1">
  <img src="~/images/families1.jpg" alt="Image">
  <p>"I love to work with kids and youth and watch them grow in the process. 
	  It's the idea of: even if I can make them happy or make them think or make a difference in their lives, 
	  no matter one hour or one day or one week or one
      year, it's worth the effort"
</p>
</div>
<div class="mySlides fade" style="opacity:1">
  <img src="~/images/v2.jpg" alt="Image">
  <p>"Handling children of different age group made me realized that I must learn to be more adaptive and agile working with my colleagues; 
	  giving them the required space to speak, act and grow. 
	  Volunteering in GG was a good learning platform in grooming me to be ready for my grandmother role when the time comes."
</p>
</div>

<div class="mySlides fade" style="opacity:1">
  <img src="~/images/v3.jpg" alt="Image">
  <p>
"One of the main reason for volunteering in education was that I really feel for the children here.
I feel like I can give something to the community and I am glad that I played a part in teaching them to read, 
write and imparting values into them as they grow up."

​
</p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</body>


<style>
container {
  position: relative;
  text-align: center;
  color: black;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3.2rem;
  font-family:'Californian FB'
}

.sectionTitle{
	width:500px;
	border-bottom: 3px solid #FF3333;
	text-align:center;
	font-size:2rem;
	font-weight:200;
	margin: 0 auto 50px;
	position:relative;
	padding:10px 0;
	text-transform:uppercase;
}

.sectionTitle::after{
	display:inline-block;
	content:"";
	height:15px;
	width:15px;
	background-color:#FF3333;
	position:absolute;
	left:calc(50% - 10px);
	top:calc(80% - 0px);
	transform:rotate(45deg) translate(50 50%);
	border:3px solid #fff;
}
section{
	padding:100px 0;
	position:relative;
}

#volunteerSection .cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	position:relative;
	height:245px;
}
#volunteerSection .cards > div {
	width:300px;
	background-color:lightgrey;
	padding:50px;
	color:#444;
	text-align:center;
	border-radius:15px;
	height:215px;
	border:1px solid #ccc;

}
#volunteerSection .cards > div .title{
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
}
#volunteerSection .cards > div p{
	font-size:14px;
	margin-top:15px;
}
#volunteerSection .card > div button{
	border: 1px solid #FF3333;
	outline:none;
	padding:7px 15px;
	margin-top:15px;
	font-size:12px;
	border-radius:3px;
	cursor:pointer;
}
#volunteerSection .cards > div:hover button{
	background: #FF3333;
	color:#fff;
}

.mySlides {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color:white;
  color:black;
}
.mySlides img {
	width:60%;
  height: auto;
  margin-left: 200px;
}
.mySlides p {
  text-align: center;
  font-size:20px;
}
/** {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
* {box-sizing: border-box}
.mySlides {display: none}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

fade{
	opacity:1;
}
  

/* On smaller screens, decrease text size */

.prev, .next,.text {font-size: 30px}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn2 {
  background-color: white ;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn2:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */


img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

</style>