

@page
@model WebTechAss.Pages.VolunteerModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="site.js">
<head>
	<title>Volunteer Page</title>
</head>
<body>
	<div class="container" style="width:100%">
  <img src="~/images/Volunteering.jpg" alt="Snow" style="width:100%; height:90%">
  <div class="centered">Get Involved</div>
</div><br />

   <h3>Interested in volunteering?</h3>

   <div class="container1">
	   <div class="box1">
		   <ion-icon name="document-text"></ion-icon>
		   <h2>1) Register Online</h2>
		   <p>Register online through our volunteer registration form.</p>
	   </div>
	   <div class="box2">
		   <ion-icon name="people"></ion-icon>
		   <h2>2) Meet Us</h2>
		   <p>Meet us in person and go through an orientation to prepare yourself.</p>
	   </div>
	   <div class="box3">
		   <ion-icon name="checkmark-circle"></ion-icon>
		   <h2>3) Impact Lives</h2>
		   <p>Start impacting lives! Join our staff & other volunteers on-ground.</p>
	   </div>
   </div>
   <br /><br />
@*   <div class="container3">
  <img src="~/images/families1.jpg" alt="Image">
  <p>"I love to work with kids and youth and watch them grow in the process. 
	  It's the idea of: even if I can make them happy or make them think or make a difference in their lives, 
	  no matter one hour or one day or one week or one
      year, it's worth the effort"
</p>
</div>*@
   <!-- ======= Testimonials Section ======= -->

<div class="slideshow-container" style:"1500px">


<div class="mySlides fade" style="opacity:1">
  <img src="~/images/families1.jpg" alt="Image">
  <p>"I love to work with kids and youth and watch them grow in the process. 
	  It's the idea of: even if I can make them happy or make them think or make a difference in their lives, 
	  no matter one hour or one day or one week or one
      year, it's worth the effort"
</p>
</div>
<div class="mySlides fade" style="opacity:1">
  <img src="~/images/v2.jpg" alt="Image">
  <p>"Handling children of different age group made me realized that I must learn to be more adaptive and agile working with my colleagues; 
	  giving them the required space to speak, act and grow. 
	  Volunteering in GG was a good learning platform in grooming me to be ready for my grandmother role when the time comes."
</p>
</div>

<div class="mySlides fade" style="opacity:1">
  <img src="~/images/v3.jpg" alt="Image">
  <p>
"One of the main reason for volunteering in education was that I really feel for the children here.
I feel like I can give something to the community and I am glad that I played a part in teaching them to read, 
write and imparting values into them as they grow up."

​
</p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</body>


<style>
container {
  position: relative;
  text-align: center;
  color: black;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3.2rem;
  font-family:'Californian FB'
}
.container1{
	display:flex;
	background-color:black;
	justify-content: center;
	align-items:center;
}

.box1,
.box2,
.box3{
	width:300px;
	height:200px;
	background:radial-gradient(circle at the top level, transparent 340px,rgba(255,255,255, .3)), 
	radial-gradient(circle at bottom right, transparent 340px,rgba(255,255,255, .3));
	margin:20px;
	padding:5px;
	color:whitesmoke;
	text-align:center;
	transition: .3s ease-in-out;
}
.box1:hover, 
.box2:hover,
.box3:hover{
	background-color:cornflowerblue;
}
.box1 icon,
.box2 icon,
.box3 icon{
	font-size:10px;
}
.fab{
	margin: 1.2rem 0.3rem 0;
}
h2{
	letter-spacing:2px;
	font-size:30px;
	margin:0 0.6rem 0;
}
.box1 p,
.box2 p,
.box3 p{
	margin-top:5px;
	font-size:20px;
	line-height:inherit;
	padding:0 10px;
}
h3{
	font-size:30px;
	font-family:'Californian FB';
}
.mySlides {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color:white;
  color:black;
}
.mySlides img {
	width:60%;
  height: auto;
  margin-left: 200px;
}
.mySlides p {
  text-align: center;
  font-size:25px;
}
/** {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
* {box-sizing: border-box}
.mySlides {display: none}

/* Next & previous buttons */
.prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}

fade{
	opacity:1;
}
  

/* On smaller screens, decrease text size */

.prev, .next,.text {font-size: 30px}

</style>