*{  margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
/*html {
    height: 100%;
    box-sizing: border-box;
}*/
body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #ffffff;
    background-position: center;
}


form {
    border: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
/*    padding: 9px 70px;*/
    padding: 9px 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-left: 0px;
    padding-top: 0px;
}

.logo {
    color: #f9004d;
    font-size: 35px;
    font-family: sans-serif;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.navbar a {
    position: relative;
    font-size: 1.2rem;
    color: #191919;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    /*    float:right;*/
}


.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
 }

.navbar a:hover::after {
        transform: scaleX(1);
 }

.navbar .dropdown ul {
        list-style: none;
        text-align:left;
        display: block;
        font-size:small;
        position: absolute;
        left: 20px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
}

.navbar .dropdown ul li {
            min-width: 200px;
            padding:10px 0px;
}

.navbar .dropdown ul a {
            padding: 10px 20px;
            font-weight: 300;
}

 .navbar .dropdown ul a i {
                font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
                color: #106eea;
}

.navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
}

.navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
}

.navbar .dropdown .dropdown ul {
    left: -90%;
}

.navbar .dropdown .dropdown:hover > ul {
    left: -100%;
}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

    .button:hover {
        background-color: #f1f1f1;
    }
    /*header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
    /*    padding: 10px 80px;*/
    /*padding: 20px 100px;*/
    /*    background: black;*/
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.logo {
    color: #bdf9f6;
    font-size: 35px;
    font-family: sans-serif;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.nav-item a {
    position: relative;
    font-size: 1.2rem;
    color: #e6daf2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;*/
    /*    float:right;*/
    /*}


.nav-item a::after {
    content: '';
    position: absolute;
    left: 0;
        bottom: -4px;
    width: 100%;
    height: 3px;
        background: black;
    border-radius: 5px;
    transform-origin: right;
        transform: scaleX(0);
    transition: transform .5s;
 }

.nav-item a:hover::after {
        transform: scaleX(1);
    }*/
.aboutus {
        width: 100%;
        padding: 78px 0px;
        background-color: #191919;
}
.aboutus img{
    height: auto;
    width: 450px;
}
.about-text{
    width: 500px;
}
.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.about-text h1{
    color:white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color:#f9004d;
}
.about-text p{
    color:#fcfc;
    letter-spacing:1px;
    line-height: 28px;
    font-size:18px;
    margin-bottom: 45px;
}

.main button {
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.main button:hover {
        background: transparent;
        border: 2px solid;
        cursor: pointer;
 }

.about .content {
    background-color: #f6f9ff;
    padding: 40px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
 }

.about h2 {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
}

.about .btn-read-more i {
        margin-left: 5px;
        font-size: 18px;
        transition: 0.3s;
}

.about .btn-read-more:hover i {
        transform: translateX(5px);
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
}

.ourwork .content {
    background-color: #f6f9ff;
    padding: 40px;
}
.ourwork h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
}

.ourwork h2 {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
}
.outwork .column {
    width: 80%;
    background-color: #D5FFF9;
    padding:20px;
}
.outwork button {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 15px
}
.ourwork p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}
.ourwork img {
    width: 340px;
    height: 200px;

}

.ourwork{
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 350px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.teachers img {
    height: 350px;
    width: 550px;
    float:left;
}

.teachers .text {
    float: right;
    line-height: 40px;
    font-size:20px;
}
.teachers h2 {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
}
/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    background-color: #f6f9ff;
}

    .values .box img {
        padding: 30px 50px;
        transition: 0.5s;
        transform: scale(1.1);
    }

    .values .box h3 {
        font-size: 24px;
        color: #012970;
        font-weight: 700;
        margin-bottom: 18px;
    }

    .values .box:hover {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

        .values .box:hover img {
            transform: scale(1);
        }
.values h2 {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    background: #fff;
    padding: 60px 0;
}
.team h2 {
    font-size: 23px;
    font-weight: 700;
    text-align:center;
    color: #012970;
}
.team p{
    text-align:center;
    font-size:30px;
}
.team .member {
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
        transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background: url(../img/team-shape.svg) no-repeat center bottom;
                background-size: contain;
                z-index: 1;
}

.team .member .social {
            position: absolute;
            right: -100%;
            top: 30px;
            opacity: 0;
            border-radius: 4px;
            transition: 0.5s;
            background: rgba(255, 255, 255, 0.3);
            z-index: 2;
}

.team .member .social a {
                transition: color 0.3s;
                color: rgba(1, 41, 112, 0.5);
                margin: 15px 12px;
                display: block;
                line-height: 0;
                text-align: center;
}

.team .member .social a:hover {
                    color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
                font-size: 18px;
}

.team .member .member-info {
            padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 20px;
                color: #012970;
 }

.team .member .member-info span {
                display: block;
                font-size: 14px;
                font-weight: 400;
                color: #aaaaaa;
}

.team .member .member-info p {
                font-style: italic;
                font-size: 14px;
                padding-top: 15px;
                line-height: 26px;
                color: #5e5e5e;
}

.team .member:hover {
            transform: scale(1.08);
            box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
                right: 8px;
                opacity: 1;
}

/*FAQ */
/*.faq{
    box-sizing: border-box;
}

*::before,
*::after {
        box-sizing: border-box;
}

.faq body {
    margin: 0;
    padding: 0;*/
/*    text-align: center;*/
    /*font-family: 'Times New Roman', sans-serif;
    background-color:#aaaaaa;
    color: rgba(65, 84, 241, 0.3);
    display: flex;
    min-height: 100vh;
}
.faq h2 {
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    color: #0d0212;
    font-family:'Californian FB';
}
.faq .container {
    margin: 0 auto;
    padding: 4rem;
    width: 50rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
        border-bottom: 1px solid #03b5d2;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
 .accordion button:focus {
        cursor: pointer;
        color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
        cursor: pointer;
            color: #03b5d2;
            border: 1px solid #03b5d2;
 }

.accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
        color:steelblue;
 }

.accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
 }

.accordion button .icon::before {
            display: block;
     position: absolute;
            content: '';
            top: 9px;
     left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
}

.accordion button .icon::after {
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
}

.accordion button[aria-expanded='true'] {
        color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after {
            width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
        color:darkslategray;
}*/

/*Partnership*/
/*.heading{
    width:90%;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align:center;
    margin:20px auto;
}
.heading h1{
    font-size:50px;
    color:#000;
    margin-bottom: 25px;
    position:relative;
}
.heading h1::after{
    content:"";
    position:absolute;
    width:100%;
    height:4px;
    display: block;
    margin: 0 auto;
    background-color:#4caf50;
}
.heading p{
    font-size:18px;
    color:#666;
    margin-bottom: 35px;
}
.container1{
    width:90%;
    margin:0 auto;
    padding:10px 20px;
}
.partner1{
    display:file;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.partner1-image{
    flex:1;
    margin-right：40px;
    overflow:hidden;            
}
.partner1-image img{
    max-width: 100%;
    height:auto;
    display:block;
    transition: 0.5s ease;
}
.partner1-image:hover img{
    transform:scale(1.2);
}
.partner-content{
    flex:1;
}
.partner-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color:#333;
}
.partner-content p{
    font-size: 18px;
    line-height:1.5;
    color:#666;
}
.partner-content .read-more{
    display: inline-block;
    padding:10px 20px;
    color:#fff;
    font-size:19px;
    text-decoration:none;
    border-radius:25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.partner-content .read-more:hover{
    background-color:#3e8341;
}
.partnership main {
        margin: 20px;
    }

.partnership h2 {
    margin-top: 40px;
}

.partnership ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.partnership li:before {
    content: "• ";
    color: #333;
}

 .partnership form {
    margin-top: 20px;
 }

.partnership label {
    display: block;
    margin-top: 10px;
 }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
     width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-1 {
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}

.services-1 img {
        height: auto;
        width: 450px;
}

.resource-text {
    width: 500px;
}

.s-main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.resource-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.resource-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #f9004d;
}

.resource-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.services h1 {
    background-color: #132e14;
    color: #aaaaaa;
    padding: 10px;
}
.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
     height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.services .service-box .icon {
        font-size: 60px;
        padding: 40px 20px;
        border-radius: 4px;
        position: relative;
        margin-bottom: 25px;
        display: inline-block;
        line-height: 0;
        transition: 0.3s;
}

.services .service-box h3 {
        color: #444444;
        font-weight: 700;
}

.services .service-box .read-more {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        padding: 8px 20px;
}

.services .service-box .read-more i {
            line-height: 0;
            margin-left: 5px;
            font-size: 18px;
 }

.services .service-box.blue {
        border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
            color: #2db6fa;
            background: #dbf3fe;
}

.services .service-box.blue .read-more {
            color: #2db6fa;
}

.services .service-box.blue:hover {
            background: #2db6fa;
}

.services .service-box.orange {
        border-bottom: 3px solid #f68c09;
 }

.services .service-box.orange .icon {
            color: #f68c09;
            background: #fde3c4;
}

 .services .service-box.orange .read-more {
            color: #f68c09;
}

.services .service-box.orange:hover {
            background: #f68c09;
}

.services .service-box.green {
        border-bottom: 3px solid #08da4e;
}

 .services .service-box.green .icon {
            color: #08da4e;
            background: #cffddf;
}

 .services .service-box.green .read-more {
            color: #08da4e;
}

 .services .service-box.green:hover {
            background: #08da4e;
}

.services .service-box.red {
        border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
            color: #e9222c;
            background: #fef7f8;
 }

 .services .service-box.red .read-more {
            color: #e9222c;
}

 .services .service-box.red:hover {
            background: #e9222c;
}

.services .service-box.purple {
        border-bottom: 3px solid #b50edf;
}

 .services .service-box.purple .icon {
            color: #b50edf;
            background: #f8e4fd;
 }

.services .service-box.purple .read-more {
            color: #b50edf;
 }

 .services .service-box.purple:hover {
            background: #b50edf;
 }

.services .service-box.pink {
        border-bottom: 3px solid #f51f9c;
 }

 .services .service-box.pink .icon {
            color: #f51f9c;
            background: #feecf7;
 }

 .services .service-box.pink .read-more {
            color: #f51f9c;
 }

 .services .service-box.pink:hover {
            background: #f51f9c;
 }

 .services .service-box:hover h3,
 .services .service-box:hover p,
.services .service-box:hover .read-more {
        color: #fff;
}

 .services .service-box:hover .icon {
        background: #fff;
 }
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
    padding: 40px 0 20px 0;
}
.blog h1 {
    background-color: #012970;
    color: #fff;
    padding: 10px;
}
.blog .entry {
        padding: 30px;
        margin-bottom: 60px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
            max-height: 440px;
            margin: -30px -30px 20px -30px;
            overflow: hidden;
 }

 .blog .entry .entry-title {
            font-size: 28px;
            font-weight: bold;
            padding: 0;
            margin: 0 0 20px 0;
}

 .blog .entry .entry-title a {
                color: #012970;
                transition: 0.3s;
}

.blog .entry .entry-title a:hover {
                    color: #4154f1;
}


.blog .entry .entry-content p {
            line-height: 24px;
 }

 .blog .entry .entry-content .read-more {
            -moz-text-align-last: right;
            text-align-last: right;
}

 .blog .entry .entry-content .read-more a {
                display: inline-block;
                background: #4154f1;
                color: #fff;
                padding: 6px 20px;
                transition: 0.3s;
                font-size: 14px;
                border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
                    background: #5969f3;
 }

 .blog .entry .entry-content h3 {
            font-size: 22px;
            margin-top: 30px;
            font-weight: bold;
 }

 .blog .entry .entry-content blockquote {
            overflow: hidden;
            background-color: #fafafa;
            padding: 60px;
            position: relative;
            text-align: center;
            margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
                color: #444444;
                line-height: 1.6;
                margin-bottom: 0;
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
 }
 
 .blog .entry .entry-content blockquote::after {
                content: "";
     position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: #012970;
                margin-top: 20px;
                margin-bottom: 20px;
}


    .blog .entry-single {
        margin-bottom: 30px;
    }


.blog .blog-pagination {
        color: #024ed5;
    }

.blog .blog-pagination ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
}

.blog .blog-pagination li {
            margin: 0 5px;
            transition: 0.3s;
 }

.blog .blog-pagination li a {
                color: #012970;
                padding: 7px 16px;
     display: flex;
                align-items: center;
                justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
                background: #4154f1;
            }

 .blog .blog-pagination li.active a,
 .blog .blog-pagination li:hover a {
                    color: #fff;
}

 .blog .sidebar {
        padding: 30px;
        margin: 0 0 60px 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

 .blog .sidebar .sidebar-title {
            font-size: 20px;
            font-weight: 700;
            padding: 0 0 0 0;
            margin: 0 0 15px 0;
            color: #012970;
            position: relative;
 }

 .blog .sidebar .sidebar-item {
            margin-bottom: 30px;
}

 .blog .sidebar .search-form form {
            background: #fff;
            border: 1px solid #ddd;
            padding: 3px 10px;
            position: relative;
}

 .blog .sidebar .search-form form input[type=text] {
                border: 0;
                padding: 4px;
                border-radius: 4px;
                width: calc(100% - 40px);
 }

 .blog .sidebar .search-form form button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                border: 0;
                background: none;
                font-size: 16px;
                padding: 0 15px;
                margin: -1px;
                background: #4154f1;
                color: #fff;
                transition: 0.3s;
                border-radius: 0 4px 4px 0;
                line-height: 0;
 }

 .blog .sidebar .search-form form button i {
                    line-height: 0;
 }

 .blog .sidebar .search-form form button:hover {
                    background: #5465f2;
}

 .blog .sidebar .categories ul {
            list-style: none;
            padding: 0;
 }

.blog .sidebar .categories ul li + li {
                padding-top: 10px;
}

 .blog .sidebar .categories ul a {
                color: #012970;
                transition: 0.3s;
}

 .blog .sidebar .categories ul a:hover {
                    color: #4154f1;
 }

 .blog .sidebar .categories ul a span {
                    padding-left: 5px;
                    color: #aaaaaa;
                    font-size: 14px;
 }

 .blog .sidebar .recent-posts .post-item + .post-item {
            margin-top: 15px;
}

 .blog .sidebar .recent-posts img {
            width: 80px;
            float: left;
}

.blog .sidebar .recent-posts h4 {
            font-size: 15px;
            margin-left: 95px;
            font-weight: bold;
 }

  .blog .sidebar .recent-posts h4 a {
                color: #012970;
                transition: 0.3s;
 }

  .blog .sidebar .recent-posts h4 a:hover {
                    color: #4154f1;
 }

 .blog .sidebar .recent-posts time {
            display: block;
            margin-left: 95px;
            font-style: italic;
            font-size: 14px;
            color: #aaaaaa;
 }

 .blog .sidebar .tags {
            margin-bottom: -10px;
 }

 .blog .sidebar .tags ul {
                list-style: none;
                padding: 0;
}

 .blog .sidebar .tags ul li {
                    display: inline-block;
 }

 .blog .sidebar .tags ul a {
                    color: #0257ee;
                    font-size: 14px;
                    padding: 6px 14px;
                    margin: 0 6px 8px 0;
                    border: 1px solid #d7e6ff;
                    display: inline-block;
                    transition: 0.3s;
}

  .blog .sidebar .tags ul a:hover {
                        color: #fff;
                        border: 1px solid #4154f1;
                        background: #4154f1;
 }

 .blog .sidebar .tags ul a span {
                        padding-left: 5px;
                        color: #a5c5fe;
                        font-size: 14px;
 }

