*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body .container {
    max-width: 100%;
}

:root {
    --primary-color: #0E4BF1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--panel-color);
}

body.dark {
        --primary-color: #3A3B3C;
        --panel-color: #242526;
        --text-color: #CCC;
        --black-light-color: #CCC;
        --border-color: #4D4C4C;
        --toggle-color: #FFF;
        --box1-color: #3A3B3C;
        --box2-color: #3A3B3C;
        --box3-color: #3A3B3C;
        --title-icon-color: #CCC;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
        width: 90px;
}

nav .logo-name {
        display: flex;
        align-items: center;
}
nav .logo-image {
        min-width: 45px;
}
    nav .logo-name h2 {
        font-size: 30px;
        font-weight: 600;
        padding: 0 22px;
        color: var(--text-color);
        margin-left: 10px;
        transition: var(--tran-05);
    }
nav.close .logo-image {
        opacity: 0;
        pointer-events: none;
}
.nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

    .menu-items li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 50px;
        position: relative;
    }

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before {
    background-color: var(--text-color);
}
.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
    padding-right:10px;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}


nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}
.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space:nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 24px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 90px;
    width: calc(100% - 90px);
}
.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 90px;
    width: calc(100% - 90px);
}
.dashboard .top .sidebar-toggle{
    font-size:26px;
    color:var(--text-color);
    cursor:pointer;
}
.dashboard .top .search-box{
    position:relative;
    height:45px;
    max-width:600px;
    width:100%;
    margin: 0 30px;
}
.top .search-box input{
    position:absolute;
    border:1px solid var(--border-color);
    background-color:var(--panel-color);
    padding:0 25px 0 50px;
    border-radius:5px;
    height:100%;
    width:100%;
    color:var(--text-color);
    font-size:15px;
    font-weight:400;
    outline:none;
}
.top .search-box i{
    position:absolute;
    left:15px;
    font-size:22px;
    z-index:10;
    top: 50%;
    transform: translateY(-50%);
    color:var(--black-light-color);
}
.top img{
    width:43px;
    border-radius:50%;
}
.dashboard .dash-content{
    padding-top:30px;
}
.dash-content .title{
    display: flex;
    align-items:center;
    margin:70px 0 30px 0;

}
.dash-content .title i{
    position:relative;
    height:35px;
    width:35px;
    background-color:var(--primary-color);
    border-radius:6px;
    color:var(--title-icon-color);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
}
.dash-content .title .text{
    font-size:24px;
    font-weight:500;
    color:var(--text-color);
    margin-left:10px;
}
.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:12px;
    width:calc(100% / 3 - 15px);
    padding:15px 20px;
    background-color:var(--box1-color);
    transition: var(--tran-05);
  
}
.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2{
    background-color:var(--box2-color);

}
.boxes .box.box3 {
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.activity .activity-data{
    display:flex;

   /* width:calc(100% / 5 - 15px);*/
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin:0 15px;
}
.activity-data .data-title{
    font-size:20px;
    font-weight:500;
    color:var(--text-color);
}
.activity-data .data .data-list{
    font-size:18px;
    font-weight:400;
    margin-top:20px;
    white-space:nowrap;
    color:var(--text-color);
}
.card{
    background-color: var(--black-light-color);
    top:100px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
    
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color:white;
}

th, td {
    text-align: left;
    padding: 16px;
}

/*.row h2{
    color:var(--text-color);
}
.comments {
    margin-top: 5%;
    margin-left: 20px;
}

.darker {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment1 {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

    .comment1 h4, .comment1 span, .darker h4, .darker span {
        display: inline;
    }

    .comment1 p, .comment1 span, .darker p, .darker span {
        color: rgb(184, 183, 183);
    }

h1, h4 {
    color: white;
    font-weight: bold;
}

label {
    color: rgb(212, 208, 208);
}

#align-form {
    margin-top: 20px;
}

.form-group p a {
    color: white;
}

#checkbx {
    background-color: black;
}

#darker img {
    margin-right: 15px;
    position: static;
}

.form-group input, .form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}

.commentForm form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px;
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: var(--panel-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color:var(--text-color);
}

    button:hover,
    button:focus,
    button:active {
        cursor: pointer;
        background-color: #ecf0f1;
    }

.comment-thread {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: var(--panel-color);
    border: 1px solid transparent;*/ /* Removes margin collapse */
    /*color: var(--text-color);
}

.m-0 {
    margin: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}*/

/* Comment */

/*.comment {
    position: relative;
    margin: 20px auto;
}

.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

    .comment-voting button {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        border: 0;
        font-size: 10px;
    }

.comment-info {
    color: var(--text-color);
    margin-left: 10px;
}

.comment-author {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

    .comment-author:hover {
        text-decoration: underline;
    }

.replies {
    margin-left: 20px;
}*/

/* Adjustments for the comment border links */

/*.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.comment-border-link:hover {
        background-color: rgba(0, 0, 0, 0.3);
}

.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}

.replies {
    margin-left: 28px;
}*/

/* Adjustments for toggleable comments */

/*details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}

    details.comment summary::-webkit-details-marker {
        display: none;
    }

details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}

details.comment[open] .comment-heading::after {
    content: "Click to hide";
}

details.comment:not([open]) .comment-heading::after {
    content: "Click to show";
}*/


/* Styling the reply to comment form */

/*.reply-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.d-none {
    display: none;
}*/
/*tr:nth-child(even) {
    background-color: #f2f2f2;
}*/
/*.main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:focus,
input[type="text"]:focus {
  outline: none;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  
}

.invitation {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 800px;
}*/

/* header */
/*#header {
  background: #70b3ff;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px 5px 0 0;
}

#header h1 {
  font-size: 24px;
  font-weight: 400;
}*/

/* main */
/*.main {
  padding: 30px;
}*/

/* invite form */
/*#inviteForm {
  position: relative;
  margin: 0 0 20px;
}

#inviteForm input {
  border: 1px solid #eee;
  padding: 10px 100px 10px 10px;
  width: 100%;
  height: 50px;
  font: 16px/1.4 'Mulish', sans-serif;
  color: #333;
}

#inviteForm button {
    padding: 0 1em;
    font: 16px/1.4 'Mulish', sans-serif;
    background: #70b3ff;
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
    height: 40px;
    transition: opacity 0.3s linear;
    width:20%;
}

#inviteForm button:hover {
  opacity: 0.7;
}*/

/* show hide */
/*.showHide {
  margin: 0 0 20px;
}

.showHide input[type="checkbox"] {
  margin: 0 0 0 5px;
}*/

/* invited list */
/*#invitedList li {
  padding: 20px;
  margin: 0 0 10px;
  border-radius: .2em;
  border: 1px solid #eee;
}

#invitedList li span,
#invitedList li input[type="text"] {
  font: 20px/1.4 'Mulish', sans-serif;
  margin: 0 0 5px;
  display: block;
}

#invitedList li input[type="text"] {
  border: 1px solid #eee;
  padding: 10px 100px 10px 10px;
  width: 100%;
  height: 50px;
  color: #333;
}

#invitedList li label {
  font-size: 14px;
  display: block;
  margin: 0 0 10px;
  color: rgba(112, 112, 112, .55);
}

#invitedList li label input[type="checkbox"] {
  margin: 0 0 0 5px;
}

#invitedList li button {
  font-size: 14px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  background: #70b3ff;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

#invitedList li button:last-child {
  background: #ff7f7f;
}

#invitedList li button:hover {
  opacity: 0.7;
}*/

/* 
responded 
---------
*/
/*#invitedList li.responded {
  transition: 0.4s;
  border-color: #70b3ff;
}

#invitedList li.responded label,
#invitedList li.responded span {
  transition: 0.4s;
  color: #70b3ff;
}*/

/*@media only screen and (max-width: 840px) {
    .invitation {
        margin: 20px;
    }
}

@media only screen and (max-width: 640px) {

    body,
    #inviteForm input,
    #inviteForm button {
        font-size: 14px;
    }

    #header h1 {
        font-size: 20px;
    }

    #invitedList li span,
    #invitedList li input[type="text"] {
        font-size: 16px;
    }

    #invitedList li button {
        font-size: 12px;
    }*/


@media (max-width:1000) {
       nav {
        width: 90px;
       }
       nav.close {
        width: 250px;
       }
       nav .logo_name {
            opacity: 0;
            pointer-events: none;
       }
        nav.close .logo_name {
            opacity: 1;
            pointer-events: auto;
        }
        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }
        nav.close li a .link-name {
            opacity: 1;
            pointer-events: auto;
        }

        nav ~ .dashboard {
            left: 90px;
            width: calc(100% - 90px);
        }
        nav.close ~ .dashboard {
            left: 250px;
            width: calc(100% - 250px);
        }

        nav ~ .dashboard .top{
        left:90px;
        width:calc(100% - 90px);
        }
        nav.close ~ .dashboard .top {
            left: 250px;
            width: calc(100% - 250px);
        }
        .activity .activity-data{
            overflow-x:scroll;
        }
}

@media (max-width:780px){
    .dash-content .boxes .box{
        width:calc(100% / 2 - 15px);
        margin-top:15px;
    }
}

@media (max-width:560px) {
    .dash-content .boxes .box {
        width: 100%;

    }
}
@media (max-width:500px) {
    nav {
        width: 90px;
    }

        nav.close {
            width: 90px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav ~ .dashboard {
            left: 90px;
            width: calc(100% - 90px);
        }

        nav.close ~ .dashboard {
            left: 90px;
            width: calc(100% - 90px);
        }

        nav ~ .dashboard .top {
            left: 90px;
            width: calc(100% - 90px);
        }

        nav.close ~ .dashboard .top {
            left: 90px;
            width: calc(100% - 90px);
        }
        .dashboard .top .sidebar-toggle{
            display:none;
        }
}